
<router-outlet></router-outlet>
<header>
  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
        
      </i>
      <strong style="font-size: 25px;">Sport Shopee</strong>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="search product">
      </div>
      <span class="fas fa-search search-icon"></span>
    </div>
    <button class="btn btn-primary">
      <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px;" class="badge bg-danger" routerLink="/cart">{{cartItem}}</div>
    </button>
  </div>
</header>

<div class="card-top container-fluid">
  <div class="container d-flex">
      <div class="item">
          <a>
              <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
                  <h6>All products</h6>
          </a>
      </div>
      <div class="item">
        <a>
          <img src="https://tse2.mm.bing.net/th?id=OIP._qkX74KBb17VbjN8hHvdAQHaHa&pid=Api&P=0&w=300&h=130" alt="">
                <h6>clothing</h6>
        </a>
          </div>
      <div class="item">
        <a>
            <img src="https://tse2.mm.bing.net/th?id=OIP.hNClsdgV__OPSI1glU7siAAAAA&pid=Api&P=0&w=300&h=100" alt="">
                  <h6>shoes</h6>
          </a>
          </div>
      <div class="item">
        <a>
          <img src="https://tse1.mm.bing.net/th?id=OIP.iB6XGJBUOLKpEkqX1Ce7KAAAAA&pid=Api&P=0&w=300&h=100" alt="">
                  <h6>sports pro</h6>
        </a>
          </div>
  </div>
  </div>

  <section class="product">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="box">
          <div class="product_image">
            <img src="https://tse1.mm.bing.net/th?id=OIP.0P4XRiFaHE4L3TKNJ0a47gHaHa&pid=Api&P=0&w=300&h=100" alt="">
          </div>
          <div class="content">
            <h4>$ 600</h4>
            <button type="button" class="btn"><i class="fa fa-plus"></i>
            </button>
            <span>1</span>
            <button type="button" class="btn"><i class="fa fa-minus"></i>
            </button>
             </div>
             <button type="button" class="cart_btn">Add to cart</button>

        </div>

        <div class="col-md-3"></div>
        <div class="box">
          <div class="product_image"><a>
            <img src="https://tse1.mm.bing.net/th?id=OIP.unpQPTIfyO2lnEa8Xf7zMQAAAA&pid=Api&P=0&w=300&h=100" alt=""></a>
          </div>
          <div class="content">
            <h4>$900</h4>
            <button type="button" class="btn"><i class="fa fa-plus"></i>
            </button>
            <span>1</span>
            <button type="button" class="btn"><i class="fa fa-minus"></i>
            </button>
             </div>
             <button type="button" class="cart_btn">Add to cart</button>
        </div>

        <div class="col-md-3"></div>
        <div class="box">
          <div class="product_image"><a>
            <img src="https://tse2.mm.bing.net/th?id=OIP.PbAU8o190V-N3INffB5xdQHaFB&pid=Api&P=0&w=224&h=100" alt=""></a>
          </div>
          <div class="content">
            <h4>$1800</h4>
            <button type="button" class="btn"><i class="fa fa-plus"></i>
            </button>
            <span>1</span>
            <button type="button" class="btn"><i class="fa fa-minus"></i>
            </button>
             </div>
             <button type="button" class="cart_btn">Add to cart</button>
        </div>

        <div class="col-md-3"></div>
        <div class="box">
          <div class="product_image"><a>
            <img src="https://tse3.mm.bing.net/th?id=OIP.8Jg_m-JxC05_X8CdTr5LPwAAAA&pid=Api&P=0&w=179&h=100" alt=""></a>
          </div>
          <div class="content">
            <h4>$2400</h4>
            <button type="button" class="btn"><i class="fa fa-plus"></i>
            </button>
            <span>1</span>
            <button type="button" class="btn"><i class="fa fa-minus"></i>
            </button>
             </div>
             <button type="button" class="cart_btn">Add to cart</button>
        </div>

        


        
        


      </div>
    </div>
  </section>

  
