<section class="cart_section">
    <div class="container">
        
          <h2>Cart</h2>

<table>
  <tr>
    <th>Image</th>
    <th>Price tag</th>
    <th>Quantity</th>
    <th> Sub total</th>
  </tr>
  <tr>
      <td><img src="https://tse1.mm.bing.net/th?id=OIP.0P4XRiFaHE4L3TKNJ0a47gHaHa&pid=Api&P=0&w=300&h=100" alt=""></td>
      <td>$ 600</td>
      <td>
        <div class="content">  
        <button type="button" class="btn"><i class="fa fa-plus"></i>
        </button>
        <span>1</span>
        <button type="button" class="btn"><i class="fa fa-minus"></i>
        </button>
        </div>
      </td>
      <td>$ 600</td>
  </tr>

  <tr>
    <td><img src="https://tse1.mm.bing.net/th?id=OIP.unpQPTIfyO2lnEa8Xf7zMQAAAA&pid=Api&P=0&w=300&h=100" alt=""></td>
    <td>$ 900</td>
    <td>
      <div class="content">  
      <button type="button" class="btn"><i class="fa fa-plus"></i>
      </button>
      <span>1</span>
      <button type="button" class="btn"><i class="fa fa-minus"></i>
      </button>
      </div>
    </td>
    <td>$ 900</td>
</tr>

<tr>
  <td><img src="https://tse2.mm.bing.net/th?id=OIP.PbAU8o190V-N3INffB5xdQHaFB&pid=Api&P=0&w=224&h=100" alt=""></td>
  <td>$ 1800</td>
  <td>
    <div class="content">  
    <button type="button" class="btn"><i class="fa fa-plus"></i>
    </button>
    <span>1</span>
    <button type="button" class="btn"><i class="fa fa-minus"></i>
    </button>
    </div>
  </td>
  <td>$ 1800</td>
</tr>

<tr>
  <td><img src="https://tse3.mm.bing.net/th?id=OIP.8Jg_m-JxC05_X8CdTr5LPwAAAA&pid=Api&P=0&w=179&h=100" alt=""></td>
  <td>$ 2400</td>
  <td>
    <div class="content">  
    <button type="button" class="btn"><i class="fa fa-plus"></i>
    </button>
    <span>1</span>
    <button type="button" class="btn"><i class="fa fa-minus"></i>
    </button>
    </div>
  </td>
  <td>$ 2400</td>
</tr>
</table>



    </div>
</section>
